<% function slides (buf) { %>
<section class="slide">
<h1>Slide</h1>
</section>

<section class="slide">
<h1>Content</h1>
</section>

<section class="slide">
<h1>Here</h1>
</section>

<% } %><% include layouts/default %>
