<% include component/header %>

<!-- Begin slides. Just make elements with a class of slide. -->
<section class="slide">
<h1>Slide</h1>
</section>

<section class="slide">
<h1>Content</h1>
</section>

<section class="slide">
<h1>Here</h1>
</section>
<!-- End slides. -->

<% include component/footer %>
